/* CSS Styles for Class 12 */
/*  Grid Layout */

.container {
   border: 10px solid red;
   height: 1000px;
   width: 1000px;
   display: grid;
    /* grid-template-columns: 100px 500px 200px 200px;
    grid-template-rows: 200px 300px 100px 400px; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-rows: 1fr 3fr 1fr; ; */
    /* grid-template-columns: repeat(3, 330px) */
    grid-template-rows: repeat(4, 250px);
}

/*  position the grid items */
/*  1. line base placement */



.container div {
   border: 5px solid blue;
}

/*  fractional units */
/*  fr  */
/*  repeat() function */
/*  grid-gap property */
/*  shorthand property: grid-column-gap, grid-row-gap */
/*  grid-template-areas property */
/*  grid-area property */
/*  justify-items property */
/*  align-items property */
/*  place-items property */
/*  justify-content property */
/*  align-content property */
/*  place-content property */
/*  auto-placement feature */
/*  grid-auto-rows property */
/*  grid-auto-columns property */
/*  grid-auto-flow property */
/*  dense value of grid-auto-flow property */
/*  implicit grid */
/*  minmax() function */
/*  auto value */
/*  fit-content() function */
/*  subgrid value of display property */
/*  media queries with grid layout */
/*  CSS grid vs Flexbox */
/*  CSS grid frameworks */
/*  CSS grid generators */
/*  CSS grid browser support */
/*  CSS grid resources */
/*  End of CSS Styles for Class 12 */