body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #bde0f5;
}

.sidebar {
    width: 250px;
    background-color: #4e7a92;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #355a6b;
}

.content {
    margin-left: 270px;
    padding: 20px;
}

header {
    text-align: center;
    margin-top: 10px;
}

.country-img {
    width: 350px;
    border-radius: 10px;
    margin-right: 20px;
}

.card {
    background: #eef8ff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

h1 {
    color: #2f4f5f;
}

h2 {
    color: #355a6b;
}
