h1{
    text-align: center;
    color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 20px;

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 40px;
    text-align: justify;
    line-height: 1.6;
    color: blue;
}
section{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}