/*  flex-direction: row | row-reverse | column | column-reverse  */
/*  flex container - */
/* flex item  */

.container {
    border: 10px solid gold;
    display: flex;
    flex-direction: row;
    height: 1500px;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse;  */
    /* justify-content: flex-start;  */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    flex-wrap: wrap;
}
.container div{
    border: 5px solid red;

    height: 100px;

    width: 50px;

}

.item1{
    /* order: 1; */
    flex-shrink: 0;
}
.item2{
    /* order: 2; */
    flex-grow: 2;
    flex-shrink: 6;
    /* flex-basis: 100px; */
}
.item3{
    /* order: 3; */
    flex-shrink: 8;
    flex-grow: 9;
}
.item4{
    /* order: 4; */
    flex-shrink: 2;
}

.grid-container {
    border: 10px solid rgb(0, 0, 255);

    display: grid;

    grid-template-columns: 200px 200px 200px;
    /* grid-template-rows: 150px 150px; */

    gap: 10px;
}
