h1{
    background-color: yellow;
}
.container{
    border: 2px solid rgba(240, 15, 15, 0.938);
    width: 1000px;
    height: 900px;
    margin-top: 100px;
    margin-left: 100px;
}

.container div{
    border: 5px solid blue;
    width: 100px;
    height: 100px;
}

/* positions  */
/* default (static) */
/* 1 .  Relative - moves relative to its original position */

.box1{
    background-color: limegreen;
    position: relative;
    top: 50px; 
    left: 100px;
    /* right: 100px; */
    /* bottom: 100px; */
}

/* 2 . Absolute - moves relative to close container or viewport changes position acc to viewport  */

.box2{
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 300px;
    /* bottom: 200px;
    right: 300px; */

}

/* 3 .  Fixed - to stuck over the screen - absolute behaviour  */

.box3{
    background-color: violet;
    position: fixed;
    top: 10px;
    left: 10px;
    /* bottom: 10px;
    right: 10px; */
}

/* 4 .  Sticky - sticks when we reach to that position  */

.box4{
    background-color: pink;
    position: sticky;
    top: 150px;
    left: 10px;
    /* bottom: 0px;
    right: 0px; */
}

.box5{
    background-color: rgb(230, 217, 217);
    position: sticky;
    top: 0px;
    left: 4000px;
}