body {
        background-color: #e6dfd1;
        font-family: Georgia, serif;
        text-align: center;
}
h1 {
     font-size: 40px;
     margin-top: 10px;
     letter-spacing: 3px;
}
.section-title {
            background: #d7b899;
            display: inline-block;
            padding: 6px 15px;
            border-radius: 10px;
            font-weight: bold;
            color: #7b3f00;
            margin-top: 20px;
            font-size: 20px;
}
.content-box {
            background: #f4f1ed;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 10px;
            width: 60%;
            font-size: 17px;
}
hr {
    width: 60%;
    border: 1px solid teal;
}